html, body {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6rem;
    color: #2C2F33;
}


/********************* LINKS ***********************/

a, a:active, a:focus {
    color: #6497B1;
}

a:hover {
    color: #63b0b0;
}

a:active, a:visited, a:hover, a:focus {
    text-decoration: none;
}

::selection {
    text-shadow: none;
    background: #bbd2dd
}


/********************* HEADINGS **********************/

h1, h3 {
    font-weight: 400;
}

h2 {
    font-weight: 200;
    font-size: 2.6rem;
}

h1 {
    font-size: 4.5rem;
}

h3 {
    font-size: 2.1rem;
}


/*********************** NAVBAR **********************/

.navbar {
    padding: 1.6rem 1.6rem;
}

.navbar-nav {
    text-align: center;
}

/* equal size inside the container */
.nav-item {
    flex-grow: 1;
}

.navbar-light .navbar-nav .nav-link {
    font-weight: 200;
    font-size: 2rem;
    letter-spacing: 1.5px;
    transition: all 0.2s ease;
    color: #2C2F33
}

.navbar-light .navbar-nav a.nav-link:hover {
    color: #63b0b0
}

.nav-transparent {
    background: rgba(0,0,0,0);
    border: 0;
    border-radius: 0;
}

.navbar-toggler {
    font-size: 2.1rem;
}

button.navbar-toggler {
    outline: none;
    border: none;
}

/****************** MAIN STUFF *****************/

.section {
    padding: 1% 0;
    text-align: center;
}

.section p {
    font-weight: 400;
    letter-spacing: 0.05rem;
}

.section-project {
    padding: 2% 0;
    margin: 2% 0;
}

.about-me {
    padding-bottom: 1%;
}

.text-description {
    padding-top: 2%;
    text-align: left;
}

.section-contact {
    margin-bottom: 0;
}

/* font awesome icons */
.section-contact a {
    font-size: 2.1rem;
    text-decoration: none;
    transition: all 0.1s ease;
    color: #2C2F33;
}

.section-contact a:hover {
    color: #63b0b0;
}

.section-contact i {
    margin: 5%;
    padding-bottom: 4%;
}


/********************** MISC ***********************/

.hori-center {
    margin: 0 auto;
}

.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

.image-project {
    margin: 0 2%;
}

.image-project img {
    width: 100%;
}

.image-project {
    box-shadow: 0 1px 4px 0 rgba(99, 114, 130, .15);
}

.image-background {
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.image-me {
    margin-top: 9%;
    margin-bottom: 9%;
}


/********************* PROJECTS *********************/
.section-content-detail {
    text-align: left;
}

.section-content-detail h2 {
    margin-bottom: 2%;
}

.image-section {
    text-align: center;
    padding: 4% 0;
}

.image-section h3 {
    font-weight: 400;
    margin-bottom: 2%;
}

/********************* MEDIA ************************/

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    h1 {
        font-size: 3.6rem;
    }
    h2 {
        font-size: 2rem;
    }
    h3 {
        font-size: 1.9rem;
    }
}