<footer class="section section-contact" id="contact">
    <div class="section-content container">
        <div class="row">
            <div class="col-lg-8 col-md-10 col-sm-12 hori-center">
                <h2>contact me</h2>
                <a href="https://github.com/jledzeppelin">
                    <i class="fab fa-github" aria-hidden="true"></i>
                </a>
                <a href="mailto:juanledezma1995@gmail.com">
                    <i class="far fa-envelope" aria-hidden="true"></i>
                </a>
            </div>
        </div>
    </div>
</footer>