<footer class="section section-contact" id="contact">
    <div class="section-content container">
        <div class="row">
            <div class="col-lg-8 col-md-10 col-sm-12 div-centered">
                <h2>Contact Me</h2>
                <a href="https://github.com/jledzeppelin">
                    <i class="fa fa-github" aria-hidden="true"></i>
                </a>
                <a href="mailto:juanledezma1995@gmail.com">
                    <i class="fa fa-envelope-o" aria-hidden="true"></i>
                </a>
            </div>
        </div>
    </div>
</footer>